.new {
    display: flex;
    flex: 0.8;
    justify-content: center;
    margin-top: 32px;
    overflow: scroll;
}

.new-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.new-form > .MuiButtonBase-root {
    margin-top: 18px;
}

.new-form > h2 {
    align-self: center;
    margin-bottom: 18px;
    color: var(--app-blue);
}

.new-form > img {
    width: 60%;
    align-self: center;
    margin-bottom: 16px;
}

.new-errortext {
    color: red;
    align-self: center;
    margin: 18px 0 18px 0;
}

.new-field-errortext {
    color: red;
    margin: 8px 0 8px 0;
    font-size: 0.75rem;
}

.MuiFormHelperText-root {
    color: red !important;
    font-family: Montserrat !important;
}



.new-form-fields {
    display: flex;
}

.MuiSelect-select {
    background-color: inherit !important;
}

.MuiFormLabel-root {
    color:  var(--app-blue) !important;
}


/*MuiSelect-root MuiSelect-select MuiInputBase-input MuiInput-input legördülő*/
/*MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled*/