.list {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list-buttons {
    display: flex;
    margin: 12px 36px 12px 36px;

}

.list-buttons > .MuiButtonBase-root {
    margin-right: 12px;
}
.list::-webkit-scrollbar {
    display: none;
}

.list-loading {
    display: flex;
    flex: 0.8;
}

.MuiButton-label {
    font-family: 'Montserrat' !important;
}
